.header-container {
    display: flex;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
}

.header-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ffffff;

}

.header-slogan {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}